.font-demo-hover {
    color: indianred;
    padding: 10px;
}
.font-demo-hover:hover {
    background-color: indianred;
    color: white;
}
table.aui .aui-icon {
    color: dimgrey;
}
table.aui td.inverted {
    background-color: dimgrey;
}
