---
title: Banner example
layout: example-iframe-layout.hbs
---

        <div class="aui-flatpack-example banner-example">
            <header id="header" role="banner">
                <!-- App Header goes inside #header -->

                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
                    <div class="aui-header-primary">
                        <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="http://example.com/"><span
                                class="aui-header-logo-device">AUI</span></a></h1>
                        <ul class="aui-nav" style="width: auto;">
                            <li><a href="#dropdown2-jira3" aria-owns="dropdown2-jira3" aria-haspopup="true"
                                   class="aui-dropdown2-trigger" aria-controls="dropdown2-header7"
                                   aria-expanded="false">Menu</a>

                                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer"
                                     id="dropdown2-jira3" style="display: none; top: 40px; min-width: 160px; left: 1213px; "
                                     aria-hidden="true" data-aui-dropdown2="">
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/">Item 1</a></li>
                                            <li><a href="http://example.com/">Item 2</a></li>
                                            <li><a href="http://example.com/">Item 3</a></li>
                                            <li><a href="http://example.com/">Item 4</a></li>
                                            <li><a href="http://example.com/">Item 5</a></li>
                                        </ul>
                                    </div>
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/">Item 6</a></li>
                                            <li><a href="http://example.com/">Item 7</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- You can also use a split button in this location, if more than one primary action is required. -->
                            <li style="display: none;"><a id="aui-responsive-header-dropdown-trigger-1"
                                                          class="  aui-dropdown2-trigger"
                                                          aria-controls="aui-responsive-header-dropdown-content-1"
                                                          aria-haspopup="true" role="button" tabindex="0" href="#"
                                                          aria-expanded="false">More<span
                                    class="icon aui-icon-dropdown"></span></a>

                                <div id="aui-responsive-header-dropdown-content-1"
                                     class="aui-dropdown2 aui-style-default aui-layer" role="menu"
                                     aria-hidden="true" data-aui-dropdown2="">
                                    <div role="presentation">
                                        <div class="aui-dropdown2-section">
                                            <ul id="aui-responsive-header-dropdown-list-1"></ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a class="aui-button aui-button-primary" href="http://example.com/">Action</a></li>
                        </ul>
                    </div>
                    <div class="aui-header-secondary">
                        <ul class="aui-nav">
                            <li>
                                <form action="/foo" method="post" class="aui-quicksearch">
                                    <label for="quicksearchid" class="assistive">Search</label>
                                    <input id="quicksearchid" class="search" type="text" placeholder="Search..."
                                           name="quicksearchname">
                                </form>
                            </li>
                            <li><a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true"
                                   class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger"
                                   aria-controls="dropdown2-header7" aria-expanded="false"><span
                                    class="aui-icon aui-icon-small aui-iconfont-help">Help</span></a>

                                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer"
                                     id="dropdown2-header7"
                                     style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true"
                                     data-aui-dropdown2="">
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/" class="active">Online help</a></li>
                                            <li><a href="http://example.com/">Keyboard shortcuts</a></li>
                                            <li><a href="http://example.com/">About</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true"
                                   class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger"
                                   aria-controls="dropdown2-header9" aria-expanded="false">
                                <div class="aui-avatar aui-avatar-small">
                                    <div class="aui-avatar-inner">
                                        <img src="images/avatar-16.png">
                                    </div>
                                </div>
                            </a>

                                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer"
                                     id="dropdown2-header9"
                                     style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true"
                                     data-aui-dropdown2="">
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/" class="active">Profile</a></li>
                                            <li><a href="http://example.com/">Extensions</a></li>
                                        </ul>
                                    </div>
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/">Use Agile by default</a></li>
                                        </ul>
                                    </div>
                                    <div class="aui-dropdown2-section">
                                        <ul>
                                            <li><a href="http://example.com/">Log out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- App Header goes inside #header -->
            </header>
        </div>
        <script>
            AJS.$(document).ready(function () {
                require(['aui/banner'], function (banner) {
                    banner({
                        body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.'
                    });
                });
            });
        </script>
