---
component: Keyboard shortcuts
analytics:
  pageCategory: component
  component: keyboard-shortcuts
design: https://design.atlassian.com/latest/product/components/keyboard-shortcuts/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:ajs
  amd: false
  experimentalSince: 3.0
---

<h2>Summary</h2>
<p>Keyboard commands with syntactic sugar.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <p>Type "z" then "e" to execute some simple JavaScript.</p>
</article>
<script>
    AJS.whenIType('ze').execute(function() {
        alert('You typed z then e.');
    });
</script>

<h2>Code</h2>
<h3>JavaScript</h3>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        AJS.whenIType('ze').execute(function () {
            alert('I have executed.');
        });
        AJS.whenIType('c').click('#create');
        AJS.whenIType('gh').or('gd').goTo('http://example.com/');
        AJS.whenIType('n').moveToNextItem('.selector');
        AJS.whenIType('p').moveToPrevItem('.selector');
    </noscript>
</aui-docs-example>

<h3>JavaScript methods</h3>
<ul>
    <li>click</li>
    <li>execute</li>
    <li>followLink</li>
    <li>fromJSON</li>
    <li>goTo</li>
    <li>moveToAndClick</li>
    <li>moveToAndFocus</li>
    <li>moveToNextItem</li>
    <li>moveToPrevItem</li>
    <li>or</li>
</ul>
<p><code>fromJSON</code> creates keyboard commands and their actions from json data. Format:</p>

<noscript is="aui-docs-code" type="text/js">
    [
        {
            "keys":[["g", "d"]],
            "context":"global",
            "op":"followLink",
            "param":"#home_link"
        }, {
            "keys":[["g", "i"]],
            "context":"global",
            "op":"followLink",
            "param":"#find_link"
        }, {
            "keys":[["/"]],
            "context":"global",
            "op":"moveToAndFocus",
            "param":"#quickSearchInput"
        }, {
            "keys":[["c"]],
            "context":"global",
            "op":"moveToAndClick",
            "param":"#create_link"
        }
    ]
</noscript>
