---
component: Navigation
analytics:
  pageCategory: component
  component: navigation
design: https://design.atlassian.com/latest/product/components/navigation/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-navigation
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>Navigation covers simple navigation components, then combines them into horizontal and vertical nav groups, built on a common markup pattern. Commonly uses badges within navigation items.</p>
<p>Navigation patterns include horizontal navigation bars, vertical navigation groups, breadcrumbs and pagination.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<h3>Horizontal navigation</h3>
<p>Should be placed immediately before <code>.aui-page-panel</code>.</p>
<aui-docs-example live-demo id="horizontal-nav-example">
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <ul class="aui-nav">
                        <li><a href="#">Nav item</a></li>
                        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
                        <li><a href="#">Pull requests <aui-badge>123</aui-badge></a></li>
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Kitchen sink</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </noscript>
</aui-docs-example>

<h3>Vertical navigation</h3>
<p>Usually placed inside an <code>.aui-page-panel-nav</code> but will expand horizontally to fit any appropriate container element.</p>
<aui-docs-example live-demo id="vertical-nav-example">
    <noscript is="aui-docs-code" type="text/html">
        <article class="aui-flatpack-example">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner">
                    <ul class="aui-nav">
                        <li class="aui-nav-selected"><a href="http://example.com/">Selected Nav Item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                    <ul class="aui-nav">
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav">
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                </div>
            </nav>
        </article>
    </noscript>
</aui-docs-example>

<h3>Breadcrumbs</h3>
<p>Breadcrumbs are used as a high-level representation of where users have navigated. Users can click the links to go back to previous pages.</p>
<aui-docs-example live-demo id="aui-breadcrumbs-example">
<noscript is="aui-docs-code" type="text/html">
    <article class="aui-flatpack-example">
        <ol class="aui-nav aui-nav-breadcrumbs">
            <li><a href="http://example.com/">Breadcrumbs</a></li>
            <li><a href="http://example.com/">Sub-page</a></li>
            <li class="aui-nav-selected">Direct parent page</li>
        </ol>
    </article>
</noscript>
</aui-docs-example>

<h3>Simple nav</h3>
<p>This element is primarily used in nav groups or with a modifier class, but can be used by itself.</p>

<aui-docs-example live-demo id="simple-header-nav-example">
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header">
            <ul class="aui-nav">
                <li><a href="http://example.com/">Nav item</a></li>
                <li class="aui-nav-selected"><a href="http://example.com/">Selected item</a></li>
                <li><a href="http://example.com/">Item with badge <aui-badge>123</aui-badge></a></li>
                <li><a href="http://example.com/">Kitchen Sink</a></li>
            </ul>
        </nav>
    </noscript>
</aui-docs-example>

<h3>Pagination</h3>
<p>Pagination is used to split content across multiple pages.</p>
<p>Note: the current page is set to <code>aui-nav-selected</code> and should not be a link.</p>
<aui-docs-example live-demo id="pagination-example">
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-nav aui-nav-pagination">
            <li class="aui-nav-first"><a href="#">First</a></li>
            <li class="aui-nav-previous"><a href="#">Prev</a></li>
            <li><a href="http://example.com/">1</a></li>
            <li class="aui-nav-selected">2</li>
            <li><a href="http://example.com/">3</a></li>
            <li class="aui-nav-truncation"><a href="http://example.com/" id="pagination-truncation">&hellip;</a></li>
            <li><a href="http://example.com/">998</a></li>
            <li><a href="http://example.com/">999</a></li>
            <li class="aui-nav-next"><a href="#">Next</a></li>
            <li class="aui-nav-last"><a href="#">Last</a></li>
        </ol>
    </noscript>
</aui-docs-example>

<h3>Navgroup headers</h3>
<p>Navgroups are placed before nav UL elements and can have headers:</p>

<aui-docs-example live-demo id="navgroup-headers-example">
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-nav-heading"><strong>Heading</strong></div>
        <ul class="aui-nav">
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </noscript>
</aui-docs-example>


<h3>Split horizontal nav</h3>
<p>In a horizontal nav group, nav items placed in a primary nav group <code>aui-nav-primary</code> are placed to the left, and secondary to the right. These divs currently have no effect in vertical nav but can be included for consistency. A common use case for horizontal navigation is to have most items on the left and a small number of items on the right (usually just one).</p>
<aui-docs-example live-demo id="split-horizontal-nav-example">
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav">
                        <li><a href="#">Nav item</a></li>
                        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
                        <li><a href="#">Pull Requests <aui-badge>123</aui-badge></a></li>
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Kitchen Sink</a></li>
                    </ul>
                </div>
                <div class="aui-navgroup-secondary">
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav">
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger"><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span></a></li>
                    </ul>
                </div>
            </div>
    </noscript>
</aui-docs-example>

<h3>Actions list</h3>
<p>Use the action list to list actions at the bottom of a message.</p>
<p>
    Actions should have the appearance of a link, but should use the appropriate HTML element for
    the action &mdash; for example, use a <code>&lt;button&gt;</code> when the action is handled
    by JavaScript or does something on the current page; use an <code>&lt;a&gt;</code> when the action
    can take the user to another location in the system.
</p>

<aui-docs-example live-demo id="actions-list-example">
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-message aui-message-error">
            <p class="title">
                <strong>So this is what 1985 looked like...</strong>
            </p>
            <p>It appears your internet connection is offline right now. Your messages may not send.</p>
            <ul class="aui-nav-actions-list">
                <li><button class="aui-button aui-button-link">Try to connect</button></li>
                <li><a class="aui-button aui-button-link" href="#">Check server status</a></li>
            </ul>
        </div>
    </noscript>
</aui-docs-example>
