<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{rootPath}}css/index.css">
    <style>
        body {
            background-color: transparent;
        }

        .aui-flatpack-example {
            margin: 0;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="{{rootPath}}js/index.js"></script>
</head>
<body>
{{{ contents }}}
</body>
</html>
