<aui-docs-example live-demo>
    <noscript type="text/html">
        <form class="aui">
            <div class="field-group">
                <aui-label for="wifi-toggle">WiFi</aui-label>
                <aui-toggle id="wifi-toggle" label="Wifi toggle"></aui-toggle>
            </div>
        </form>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        var toggle = document.getElementById('wifi-toggle');
        toggle.addEventListener('change', function(e) {
            var isChecked = toggle.checked;     // new value of the toggle
            toggle.busy = true;
            $.post('set/my/variable', { value: isChecked })
                .done(function () {
                    console.log('success');
                })
                .fail(function () {
                    toggle.checked = !isChecked;
                    console.error('display an error message');
                })
                .always(function () {
                    toggle.busy = false;
                });
        });
    </noscript>
    <noscript type="text/js">
        // create fake server response
        var url = "set/my/variable";
        var server = sinon.fakeServer.create();
        server.autoRespond = true;
        server.autoRespondAfter = 2000;

        server.respondWith('POST', url, [
            200,
            { 'Content-Type': 'application/json' },
            ''
        ]);
    </noscript>
</aui-docs-example>
